:root {
}

.model-card {
    flex-grow: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.grid {
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.grid-item {
    flex-grow: 1;
}
